.grid {
    display: grid;
    width: 1520px;
    height: 730px;
    grid-template-columns: 100px 600px 600px;
    grid-gap: 25px;
    }

#d, #d1 {
    border: 3px solid black;
}

#d {
    font-size: 30px;
    padding: 10px 10px 10px 10px;
}

#d1 {
    text-align: center;
    padding-left: 7px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 1em;
}