.p1 {
    border: solid;
    border-color: orange darkblue yellow brown;
} 

.p2 {
    border: solid #007BA7;
    border-top: none;
    border-bottom: none;
} 

.p3 {
    border: dashed skyblue;
    border-top:  solid rgb(229 43 80); 
} 

.p4 {
    border: 1px dotted orange;
} 

.p5 {
    border: 2px solid darkblue;
    border-right: dashed rgb(176, 0, 0);
    border-left: dashed rgb(176, 0, 0);
} 

.p6 {
    border: double #B3446C;
} 

.p7 {
    border-top: 1px dashed #808000;
    border-bottom: 3px solid #FF7518;

} 

.p8 {
    border-left: double #CC7722;
    border-bottom: double #CC7722;
} 

.p9 {
    border-right: ridge #B5A642;
    border-top: ridge #B5A642;
} 

.p10 {
    border: 5px dotted rgb(0 40 0);
    border-top: none;
} 