div {
    display: inline;
}

.block1 {
    border: 10px outset red;
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.block2 {
    border: 10px dashed green;
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.block3 {
    border: 10px dotted blue;
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.block4 {
    border: 10px double skyblue;
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.block5 {
    border: 10px ridge fuchsia;
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.block6 {
    border: 10px inset yellow;
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.block7 {
    border: 10px solid black;
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;     
}

span {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: #FFA500;
    border: 10px solid  #FF4500;
}

.p1 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: solid #FF7F50;
    margin-top: 50px;
}

.p2 {
    border: 5px solid red;
    border-radius: 20px/40px;
    box-shadow: inset 2px 2px 8px 8px rgba(0,0,0,.5);
    overflow: auto;
}

.p3 {
    border: solid #FF6347;
}